@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p class="lead">
    <br>
    <br>
    Created by Slavik Kuz.
    <br>
    <br>
    Techologies for the project: ASP.NET MVC5, C#, SQL, Bootstrap4.
    <br>
    <br>
    <br>
    <br>
    <address>
        <strong>My projects:</strong>   <a href="https://github.com/SlavikKuz">GitHub</a>
    </address>
    <br>
    <br>


</p>