@model IEnumerable<TrackerLibrary.Models.TournamentModel>

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Sport Fun!</h1>
            <p class="lead">
                Track you sport tournaments easily and having fun.
                <br>
                <br>
                <br>
                <h4>
                    This project was created for learning purposes on ASP.NET MVC5, C#, SQL, Bootstrap4.
                </h4>
                <br>
                <h4>
                    It is a backend project which does not contain JavaScript, and was designed for Intranet or a local network.
                </h4>
            </p>
            <br>
            <br>
            <p>@Html.ActionLink("Create a Tournament", "Create", "Tournaments", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>For a tournament:</h2>
                <p>
                    <ul>
                        <li> add players,</li>
                        <li> create teams,</li>
                        <li> set prizes,</li>
                        <li> set scores.</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-6">
                <h2>The app will:</h2>
                <p>
                    <ul>
                        <li> randomly arrange matches,</li>
                        <li> notify players with emails,</li>
                        <li> define prize amount,</li>
                        <li> congratulate winners.</li>
                    </ul></ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <br>
        <h3>Current Tournaments View:</h3>
        <br>
        <ul class="list-unstyled tourney-display">
            @foreach (var item in Model)
            {
                <li>@Html.ActionLink(item.TournamentName, "Details", "Tournaments", new { id = item.Id }, new { })</li>
            }
        </ul>
    </div>
</div>